<% if @invoice.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@invoice.errors.count, "error") %> prohibited this invoice from being saved:</h4>

      <ul>
        <% @invoice.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for(@invoice) do |f| %>
  <div class="row">
    <label>Tarih</label>
    <%= f.date_select :date %>
  </div>
  <div class="row">
    <label>Saat</label>
    <%= f.time_select :time %>
  </div>
  <div class="row">
    <label>Müşteri</label>
    <%= f.select(:customer_id, @customers.collect {|c| [c.name, c.id]}) %>
  </div>
  <div class="row">
    <label>Vergi Oranı</label>
    <%= f.text_field :tax_rate %>
  </div>
  <div class="line_items">
    <label>Satır Öğeleri</label><br/>
    <button type="button" onclick="addRow()">Satır Ekle</button>
    <button type="button" onclick="deleteRow()">Satır Sil</button>
  </div>
  <table id="line_item_form">
    <tr>
      <th>Ürün</th>
      <th>Adet</th>
    </tr>
    <%= f.fields_for :line_items do |lf| %>
      <tr>
        <td><%= lf.select(:product_id, @products.collect {|p| [p.description, p.id]}) %></td>
        <td><%= lf.number_field :quantity %></td>
      </tr>
    <% end %>
  </table>
  <div class="row">
    <label>Yazdırma Şablonu</label>
    <%= f.select(:invoice_style_id, @invoice_styles.collect {|s| [s.name, s.id]}) %>
  </div>
    <div class="actions">
      <%= f.submit "#{f.object.new_record? ? 'Oluştur' : 'Güncelle'}" %>
    </div>
<% end %>

<script>
    window.onload = setVars();
</script>