<div class="main_header">
  <h2>Faturalar</h2>
  <div class="table_menu"><%= link_to '+ Yeni', new_invoice_path, :class => 'new' %></div>
</div>

<p id="notice"><%= notice %></p>

<table class="data">
  <thead>
    <tr>
      <th>Tarih</th>
      <th>Zaman</th>
      <th>Müşteri</th>
      <th>Vergi Oranı</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr class="<%= cycle('odd_row', 'even_row') %>">
        <td><%= invoice.date %></td>
        <td><%= invoice.time.strftime('%H:%M') %></td>
        <td><%= (invoice.customer)? invoice.customer.name : '' %></td>
        <td><%= invoice.tax_rate %></td>
        <td class="actions">
            <%= link_to 'Göster', invoice %>
            <%= link_to 'Düzenle', edit_invoice_path(invoice) %>
            <%= link_to 'Sil', invoice, method: :delete, data: { confirm: 'Emin misiniz?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>