<div class="main_header">
  <h2>Fatura</h2>
  <div class="table_menu">
    <%= link_to 'Düzenle', edit_invoice_path(@invoice), :class => 'edit' %>
    <%= link_to 'Sil', @invoice, method: :delete, :class => 'delete', data: { confirm: 'Emin misiniz?' } %>
  </div>
</div>

<p id="notice"><%= notice %></p>

<p>
  <strong>Tarih:</strong>
  <%= @invoice.date %>
</p>

<p>
  <strong>Zaman:</strong>
  <%= @invoice.time.strftime('%H:%M') %>
</p>

<p>
  <strong>Müşteri:</strong>
  <%= link_to @invoice.customer.name, @invoice.customer %>
</p>

<table class="line_items">
    <tr>
      <th>Ürün</th>
      <th>Adet</th>
      <th>Birim Fiyatı</th>
      <th>Tutar</th>
    </tr>
    <% @invoice.line_items.each do |line_item| %>
      <tr class="<%= cycle('odd_row', 'even_row') %>">
        <td><%= link_to line_item.product.description, line_item.product %></td>
        <td><%= line_item.quantity %></td>
        <td><%= line_item.product.unit_price %></td>
        <td><%= line_item.total %></td>
      </tr>
    <% end %>
</table>

<p>
  <strong>Ara Toplam:</strong>
  <%= @invoice.sub_total %>
</p>

<p>
  <strong>Vergi Oranı:</strong>
  <%= '% ' + @invoice.tax_rate.to_s %>
</p>

<p>
  <strong>Genel Toplam:</strong>
  <%= @invoice.general_total %>
</p>

<p>
  <strong>Yazdırma Şablonu:</strong>
  <%= link_to @invoice.invoice_style.name, @invoice.invoice_style %>
</p>

<%= button_to 'Geri', invoices_path, :method => :get %>
