<% if @invoice_style.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@invoice_style.errors.count, "error") %> prohibited this invoice from being saved:</h4>

      <ul>
        <% @invoice_style.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for(@invoice_style) do |f| %>
  <div class="row">
    <label>Şablon Adı</label>
    <%= f.text_field :name %>
  </div>
  <div class="row">
    <label>Şablon Dosyası</label>
    <!-- <input type="file" accept=".yml"/> -->
  </div>
  <div class="row">
    <%= f.text_area :style_content, :id => 'invoice-style-content' %>
  </div>
  <div class="actions">
    <%= f.submit "Kaydet" %>
  </div>
<% end %>