<div class="main_header">
  <h2>Ürün Düzenle</h2>
  <div class="page_menu">
    <%= link_to 'Geri', products_path, :class => 'btn-default' %>
    <%= link_to 'Görüntüle', @product, :class => 'btn-info' %>
    <%= link_to 'Sil', @product, method: :delete, :class => 'btn-danger', data: { confirm: 'Emin misiniz?' } %>
  </div>
</div>
<div class="main_form">
  <%= render 'form' %>
  <%= button_to 'İptal', products_path, :method => :get, :class => 'cancel_button' %>
</div>