<div class="main_header">
  <h2>Ürün</h2>
  <div class="page_menu">
    <%= link_to 'Geri', products_path, :class => 'btn-default' %>
    <%= link_to 'Düzenle', edit_product_path(@product), :class => 'btn-warning' %>
    <%= link_to 'Sil', @product, method: :delete, :class => 'btn-danger', data: { confirm: 'Emin misiniz?' } %>
  </div>
</div>

<p id="notice"><%= notice %></p>

<div class="main_info">
  <p>
    <strong>Açıklama:</strong>
    <span><%= @product.description %></span>
  </p>
  <p>
    <strong>Birim:</strong>
    <span><%= @product.unit %></span>
  </p>
  <p>
    <strong>Birim Fiyatı:</strong>
    <span><%= @product.unit_price %></span>
  </p>
</div>
