<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>FaturaYaz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div id="header">
    <div id="logo">Fatura Yaz</div>
    <div id="menu">
      <%= link_to 'Faturalar', invoices_path %>
      <%= link_to 'Müşteriler', customers_path %>
      <%= link_to 'Ürünler', products_path %>
      <a class="dropdown-button" href="javascript:void(0)" onclick="toggleDropdownMenu()">&#9776</a>
      <div class="dropdown-content" style="display: none;">
        <%= link_to 'Fatura Şablonları', invoice_styles_path %>
        <a href="#">Ayarlar</a>
      </div>
    </div>
  </div>
  <div id="main">
    <%= yield %>
  </div>
  <div id="footer">
    Sade Yazılım | © 2014
  </div>
</div>
</body>
</html>